
.wrapper{
    
     width: 100%;
     display: flex;
height: 60px;
box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
justify-content: center;
}

.inner{
height: 100%;
width: 1150px;
display: flex;
align-items: center;
justify-content: space-between;
}


.logo{
     display: flex;
}

.search{
     position: relative;
     display: flex;
     width: 441px;
     height: 46px;
     background-color:  rgba(67, 68, 75, 0.06);
     border-radius: 92px;
     padding-left:16px;
     border: 1px solid transparent;
     input{
          flex: 1;
          color: #080808;
          font-size: 1.6rem;
          border: none;
          outline: none;
          height: 100%;
          caret-color: rgb(211, 54, 80);
          background-color: transparent;
     }
     input:not(:placeholder-shown) ~ .search-btn {
          background-color: rgb(190, 162, 184);
     }
     &::after{
          content: '';
          position: absolute;
          top: 9px;
          right: 46px;
          width: 1px;
          height: calc(46px)- 13px - (0px)* 1 ;
          background-color: rgb(189, 184, 184);
     }
     &:focus-within{
          border-color: rgb(206, 196, 196);
     }
}

.clear, .loading{
border: none;
position: absolute;
right: calc(52px) + 16px;
top: 50%;
transform: translateY(-50%);
color: rgb(116, 111, 111);
}


.search-btn{
     width: 52px;
     height: 100%;
    border: none;
     outline: none;
     border-top-right-radius: 92px;
     border-bottom-right-radius: 90px;
     font-size: 1.7rem;
     color: rgb(48, 45, 45);
     &:hover{
     background-color: rgb(129, 124, 124);
     cursor: pointer;
}
}